.CardOutline{
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 160px;
    display: inline-block;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px 1px red;
}
.EmptyCardOutline{
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 160px;
    display: inline-block;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(0.45turn, black, red, black);
    box-shadow: 0px 0px 15px 2px white;
}

.RedCardTxT{
    color: red;
}

.BlackCardTxT{
    color: black;
}